.img-intro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height: 100px;
}

.link-no-style{
  color: black;  
}

.link-no-style:hover{
  color: black;  
}

.link-no-style:visited{
  color: black;  
}

.link-no-style:active{
  color: black;  
}
