<div class="container container-padding">
    <div class="row">
        <a href="#" class="link-no-style">
            <div class="thumbnail col-xs-10 col-sm-4 text-center">
                <img width="200" height="200" src="../img/images.jpg">
                <p>
                    <b>Logi</b> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoque Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoqueLorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                </p>
            </div>
        </a>
        <a href="#" class="link-no-style">
            <div class="thumbnail col-xs-10 col-sm-4 text-center">
                <img width="200" height="200" src="../img/images.jpg">
                <p>
                    <b>Durvis</b> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoqueLorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoqueLorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                </p>
            </div>
        </a>
        <a href="#" class="link-no-style">
            <div class="thumbnail col-xs-10 col-sm-4 text-center">
                <img width="200" height="200" src="../img/images.jpg">
                <p>
                    <b>Pirts</b> kubli Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. Cum sociis natoque Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoqueLorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoqueLorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                </p>
            </div>
        </a>
    </div>
    <hr>
</div>
