<div class="container container-padding">
    <div class="row">
        <a href="#" class="link-no-style">
            <div class="thumbnail col-xs-10 col-sm-4 text-center">
                <img width="200" height="200" src="">
                <p>
                    Logi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    natoque
                </p>
            </div>
        </a>
        <a href="#" class="link-no-style">
            <div class="thumbnail col-xs-10 col-sm-4 text-center">
                <img class="img-responsive" src="">
                <p>
                    Durvis Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    natoque
                </p>
            </div>
        </a>
        <a href="#" class="link-no-style">
            <div class="thumbnail col-xs-10 col-sm-4 text-center">
                <img width="200" height="200" src="">
                <p>
                    Pirts kubli Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                    sociis natoque
                </p>
            </div>
        </a>
    </div>
</div>